<ul class="navbar-nav" *ngIf="notificationMessage !== ''">
    <li class="nav-item">
        <i class="fa fa-commenting" style="color: #a21309">{{notificationMessage}}</i>
    </li>
</ul>

<ul class="xs-hidden">

    <li *ngIf="isMyProfile && isLoggedIn"><a title="{{'access.demand.details.myprofile.my.ad'| translate}}"
                                             routerLink="">
        <mat-icon matBadge="{{myAccessDemandsCount}}" matBadgeColor="warn" fontSet="fas"
                  fontIcon="fa-tasks fa-lg"></mat-icon>
        {{'access.demand.details.myprofile.my.ad'| translate}}</a></li>
    <li *ngIf="!isMyProfile && isLoggedIn"><a title="{{'access.demand.details.title.requests'| translate}}"
                                              routerLink="/access-demand">
        <mat-icon matBadge="{{accessDemandsToProcessCount}}" matBadgeColor="warn" fontSet="fas"
                  fontIcon="fa-tasks fa-lg"></mat-icon>
        {{'access.demand.details.title.requests'| translate}}
    </a>
    </li>
    <li><a (click)="changePreferredLanguage('fr')"
           [attr.class]="this.translateService.currentLang == 'fr' ? 'link active': ''"
           routerLink="{{location.path()}}">Fr</a></li>
    <li><a (click)="changePreferredLanguage('nl')"
           [attr.class]="this.translateService.currentLang == 'nl' ? 'link active': ''"
           routerLink="{{location.path()}}">Nl</a></li>
    <li><a (click)="changePreferredLanguage('en')"
           [attr.class]="this.translateService.currentLang == 'en' ? 'link active': ''"
           routerLink="{{location.path()}}">En</a></li>


</ul>
