
  .boxes .box h1{min-height: 50px;position: static;max-height: none;padding:50px 0 0 0;}
  .boxes .box h1 a{min-height: auto!important;}
  .boxes .row:first-child .box h1 a{min-height: none!important;}
  .boxes .box h1:after{display:none;}
  .boxes .box{max-height:85px;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in; -webkit-transition: all .2s ease-in;transition: all .2s ease-in;}
  .boxes .box:hover{transform: scale(1.05);}
  .boxes .box a{max-height:85px;}
  .boxes .box .wrapper{max-height:85px;position:relative;background-color:#ffffff}
  .boxes .box .ico{min-width:100px;max-height: 55px;box-shadow:0px 4px 10px rgba(0, 0, 0, 0.2);}
  .boxes .box .ico .far{font-size:2.5rem;line-height:5.5rem}
  .boxes .box .ico .fas{font-size:2.5rem;line-height:5.5rem}

  /* //consultations */
.consultation .ico{background-color:pink;}
.consultation .wrapper{border:1px solid pink;}
.consultation h1 a{color:pink;}
.consultation h1{padding:25px 0 0 0;}
.consultation .btn-second{color:pink;}
.consultation .wrapper:hover{background-color:pink!important;}
.consultation .wrapper:hover h1 a{color:#ffffff;}
.consultation .wrapper:hover .btn-second{color:#ffffff;}

 /* //organisations */
 .organisation .ico{background-color:#0488BA;}
 .organisation .wrapper{border:1px solid #0488BA;}
 .organisation h1 a{color:#0488BA;}
 .organisation h1{padding:25px 0 0 0;}
 .organisation .btn-second{color:#0488BA;}
 .organisation .wrapper:hover{background-color:#0488BA!important;}
 .organisation .wrapper:hover h1 a{color:#ffffff;}
 .organisation .wrapper:hover .btn-second{color:#ffffff;}

  /* //configuration */
  .configuration .ico{background-color:#979797;}
  .configuration .wrapper{border:1px solid #979797;}
  .configuration h1 a{color:#979797;}
  .configuration h1{padding:25px 0 0 0;}
  .configuration .btn-second{color:#979797;}
  .configuration .wrapper:hover{background-color:#979797!important;}
  .configuration .wrapper:hover h1 a{color:#ffffff;}
  .configuration .wrapper:hover .btn-second{color:#ffffff;}

   /* //services */
   .service .ico{background-color:#E84133;}
   .service .wrapper{border:1px solid #E84133;}
   .service h1 a{color:#E84133;}
   .service h1{padding:25px 0 0 0;}
   .service .btn-second{color:#E84133;}
   .service .wrapper:hover{background-color:#E84133!important;}
   .service .wrapper:hover h1 a{color:#ffffff;}
   .service .wrapper:hover .btn-second{color:#ffffff;}
