/*
* Tout à propos de la typo
*/

/*
* @font-face
*/
@font-face {
//    font-family: 'votrefont';
//    src: url('../fonts/din-regularitalic.eot');
//    src: url('../fonts/din-regularitalic.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/din-regularitalic.woff2') format('woff2'),
//        url('../fonts/din-regularitalic.woff') format('woff'),
//        url('../fonts/din-regularitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
* HTML and BODY
*/

//The default font size for all text in pixels
$base-font-size: 16 !default;

html {
	font-size: 62.5%;
}

body {
	color: black;
	font-family: $votrefont;
	@include font(14px);
	@include line(18px);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


/*
* Sizes, spacing and rythm
*/
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
}

// Block elements
blockquote,
p {
    margin: 0 0 10px 0;
}


// Inline
a {

    &:hover {

    }
}


/*
* Advanced settings
*/
// Turn on kerning and ligatures
html,
body {
    font-feature-settings: 'kern', 'liga';
}

// Turn off kerning and ligatures for monospace type
pre,
code {
    font-feature-settings: normal;
}