/*
* Header
*/

header{background:url(../img/line.svg)repeat-x left top;font-family:$roboto;margin: 0 0 0px 0;min-height:100px;
    @media (max-width: $xs) {
        background-size:80%;
        margin-bottom:0;
    }
    //language
    ul{padding:10px 0;@include flexbox;@include justify-content(flex-end);@include flex-grow(1);
        li{list-style-type: none;display:inline-block;
            a{font-family:$roboto;padding:0 7px;color:$grey-middle;@include transition;
                &:hover{color:$active;text-decoration:underline;font-weight:700;}
            }
            a.active{@extend .link-style;}
        }
    }
    
    //logo
    .logo-tagline{@include flex-direction(column);@include align-items(center);
        .tagline{background:$grey-light;text-align:right;font-weight:300;font-style:italic;text-transform:uppercase;color:$grey-middle;@include font(18px);padding:5px 15px;margin:30px 0;
            @media (max-width: $xs) {margin:30px 15px;}
        }
    }
    
    //tagline
    h1{text-align:right;}
    
    //notifications
    .mat-badge-medium .mat-badge-content{
        width:15px;Height:15PX;line-height:15px;
    }
    .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{right:-5px;}
    
    
}
