main.panel {
  margin-left: 300px;
  @include flexbox;@include flex-grow(1);flex: 1 0 auto;
  @media (max-width: $sm) {
    margin-left: 0;
  }

  .main-actions {
    @media (max-width: $xs) {
      margin: 0 30px;
      max-height: none;
      overflow-y: auto;
    }
    @include flexbox;
    @include flex-grow(1);
    @include align-items(flex-start);
    max-height: 75vh;
    overflow-y: scroll;

    .container {
      padding-top: 30px;
    }

    div {
      profil, .new-ask, .ask-to-solve, .organisation, .ressources, .users, .roles{
        @include transition;
        &:hover {
          @include zoom-on-hover;
          position: relative;
          cursor:pointer;
        }

        @media (max-width: $xs) {
          margin: 30px 0!important;
        }
      }

      .wrapper {
        padding: 15px;
        @include radius(3px);
        @include shadow(0px, 1px, 4px, rgba(0, 0, 0, 2/10));
        background: #ffffff;
        text-align: center;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);

        &:hover {
          cursor:pointer;

          h1 {
            font-weight: bold;
          }
        }
      }

      a.ico {
        width: 75px;
        max-height: 75px;
        display: block;
        //background: red;
        text-align: center;
        @include radius(3px);
        @include shadow(0px, 4px, 20px, rgba(0, 0, 0, 1/10));
        left: 50%;
        right: 50%;
        position: absolute;
        z-index: 3;
        transform: translate(-50%, -30%);
          &:hover{text-decoration:none;}
        i {
          color: #ffffff;
          @include font(30px);
          text-align: center;
          @include line(75px);
        }
      }

      .btn-second {
        text-align: right;
        display: block;
        width: 100%;
        background: none;
        //color: red;
      }
    }


    .profil {@include transition;margin-bottom:60px;
      &:hover {
          @include zoom-on-hover;
        .ico {
          background: #ffffff;

          i {
            color: $green;
          }
        }

        .wrapper {
          background: $green;

          h1, a, .second-btn {
            color: #ffffff;
          }
        }
      }

      .ico {
        background: $green;
        @include shadow(0px, 3px, 10px, rgba(112, 179, 86, 4/10));
      }

      .btn-second, h1 a {
        color: $green;
      }
        @media (max-width: $xs) {
            margin-bottom:30px;
        }
    }

    .new-ask {
      &:hover {
        .ico {
          background: #ffffff;

          i {
            color: $blue;
          }
        }

        .wrapper {
          background: $blue;

          h1, a, .second-btn {
            color: #ffffff;
          }
        }
      }

      .ico {
        background: $blue;
        @include shadow(0px, 3px, 10px, rgba(0, 59, 139, 6/10));
      }

      .btn-second, h1 a {
        color: $blue;
      }
    }

    .ask {@include transition;
      &:hover {@include zoom-on-hover;
        .ico {
          background: #ffffff;

          i {
            color: $yellow;
          }
        }

        .wrapper {
          background: $yellow;

          h1, a, .second-btn {
            color: #ffffff;
          }
        }
      }

      .ico {
        background: $yellow;
        @include shadow(0px, 3px, 10px, rgba(253, 196, 0, 4/10));
      }

      .btn-second {
        color: $yellow;
      }

      h1 a {
        color: #979797;
      }
        @media (max-width: $xs) {margin:30px 0;}
    }

//IAM DEMANDES A TRAITER
      .boxes{@include flexbox;@include flex-direction(column);}
         .ask-to-solve{margin-bottom:15px;
                .wrapper{@include flex-grow(1);@include flex-direction(row);position:relative;padding:30px;@include transition;
                @media (max-width: $sm){
                    background:#ffffff;
                }
                 a.ico{transform:none;position:relative;right:0;left:0;@include flex-direction(column);background:$yellow;min-width:120px;min-height:120px;
                     span{@include font(40px);font-family:$roboto;color:#ffffff;font-weight:600;}
                     i{@include line(120px);}
                    }
                 h1{padding:0;min-height:auto;display:block;position:static;max-height:none;@include flex-grow(0);
                     &:after{display:none;}
                     a{min-height:auto;color:$grey-one;font-weight:400;}
                     @media (min-width: $xs) and (max-width:$sm){
                         padding-left: 15px;
                         a{font-size:18px!important;}
                     }
                 }
                    .btn-second{width:30px;@include line(30px);background:$yellow;position:absolute;bottom:15px;right:15px;color:#ffffff;text-align:center;@include radius(6px);}
                    
                    &:hover{background:$yellow;@include zoom-on-hover;
                        h1 a{color:#ffffff;}
                        .ico{background:#ffffff;
                            span, i {color:$yellow;}
                        }
                    }
             }
        }
        .organisation, .ressources, .users, .roles{@include transition;margin-bottom:15px;
            .wrapper{max-height:85px;background:none;border:1px solid;position:relative;box-shadow: none;
               
            }
            .ico{min-width:100px;min-height:55px;@include shadow(0px, 4px, 10px, rgba(0, 0, 0, 2/10));
                span{@include font(18px);font-family:$roboto;color:#ffffff;}
                i{@include font(25px);@include line(55px);}
                    &:hover{text-decoration:none;}
            }
             h1{@padding:0;min-height:55px;position:static;max-height:none;@include flex-grow(0);@include align-items(flex-end);
                     &:after{display:none;}
                     a{min-height:auto;color:$grey-one;@include line(18px);font-weight: 400;}
                 @media (min-width: $xs) and (max-width:$sm){
                          a{font-size:18px!important;}
                     }
                 }
            .btn-second{position:absolute;right:15px;bottom:15px;display:inline-block;width:auto;
                @media (min-width: $xs) and (max-width:$sm){
                    display:none;
                }
            
            }
        }
        
        .organisation{margin-bottom:15px;
            .wrapper{border-color:$blue-organisation;}
            .ico{background:$blue-organisation;}
            h1 a, .btn-second{color:$blue-organisation;}
            &:hover{
                .wrapper{       
                    background:$blue-organisation;@include zoom-on-hover;
                    h1 a{color:#ffffff;}
                        .ico{background:#ffffff;
                            span, i {color:$blue-organisation;text-decoration:none;}
                        }
                    .btn-second{color:#ffffff;}
                    }
                    }
        }
        
         .ressources{margin-bottom:15px;
            .wrapper{border-color:$red;}
            .ico{background:$red;}
            h1 a, .btn-second{color:$red;}
              &:hover{
                .wrapper{       
                    background:$red;@include zoom-on-hover;
                    h1 a{color:#ffffff;}
                        .ico{background:#ffffff;
                            span, i {color:$red;text-decoration:none;}
                        }
                    .btn-second{color:#ffffff;}
                    }
                    }
        }
          .users{margin-top:15px;
            .wrapper{border-color:$green;}
            .ico{background:$green;}
            h1 a, .btn-second{color:$green;}
               &:hover{
                .wrapper{       
                    background:$green;@include zoom-on-hover;
                    h1 a{color:#ffffff;}
                        .ico{background:#ffffff;
                            span, i {color:$green;text-decoration:none;}
                        }
                    .btn-second{color:#ffffff;}
                    }
                    }
        }
        
         .roles{margin-top:15px;
            .wrapper{border-color:$grey-one;}
            .ico{background:$grey-one;}
            h1 a, .btn-second{color:$grey-one;}
              &:hover{
                .wrapper{       
                    background:$grey-one;@include zoom-on-hover;
                    h1 a{color:#ffffff;}
                        .ico{background:#ffffff;
                            span, i {color:$grey-one;text-decoration:none;}
                        }
                    .btn-second{color:#ffffff;}
                    }
                    }
        }

		

    }
			
		
	}


////////* DASHBOARD */////////


.dashboard {
    .row:first-child{
        h1 {
          min-height: 120px;
          width: 100%;
          padding: 25px 0 0 0;
          margin: 0;
          @include align-items(center);
          @include flexbox;
          text-align: center;

          &:before {
            display: none;
          }

          &:after {
            display: inline-block;
            width: 100% !important;
            left: 0;
            margin-top: 45px;
            background: none;
            border-bottom: 1px solid $border;
          }

          a {
            @include font(21px);
            font-weight: 300;
            min-height: 165px;
            text-decoration: none;
            width: 100%;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
              @media (min-width: $sm) and (max-width: $md) {
                  @include font(16px);
              }
          }
          
        }
          a.btn-second{
                @media (min-width: $sm) and (max-width: $md) {
                    display:none;}
            }
    }
}

main.panel .dashboard {
  @include align-items(center);
}

.mdl-layout__container {
  @media (max-width: $xs) {
    background: #ffffff;
  }
}

////////* EDIT MY PROFILE */////////

.main-actions {
    
  h1:after, h1:before {
    width: 150px;
    @media (max-width: $xs) {
      width: 60px;
    }
    @media (min-width: $xs) and (max-width: $sm){
                width:75px;
        }
  }

  form {
    @extend .box-style;
    margin: 0 0 60px 0;

    .radio {
      display: inline-block;
      padding-right: 15px;
    }

    .username div {
      padding-left: 0;
    }

    ul {
      padding:0 0 0 15px;

      li {
        list-style-type: none;

        a {
          @extend .link-style;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .btn, .btn-delete {
      margin: 0 15px 0 0;
      
    }
      
    //custom  
      .myApplications .mat-form-field{display:block;width:90%;}
      .text-muted{padding-left:15px;}
  }

  table {
    @extend .table-style;
    width: 100%;
    margin: 30px 0 30px 0!important ;
    td {
      border-top: 1px solid $border;
    }

    p {
      padding-left: 20px;
    }
    p.technical{background:url('../img/tech.svg') no-repeat left center;}
    p.fonctionnal{background:url('../img/fonct.svg') no-repeat left center;}
      @media (min-width: $xs){
          padding:15px!important;
      }
  }

  
}

/// MOT DE PASSE OUBLIE ///
/// MODIFIER MON MOT DE PASSE ///
#ngrecaptcha-0{padding-bottom:1.15em!important;display:block;}

////////* NOUVELLE DEMANDE */////////
textarea{min-height:130px;}
.mat-form-field{width:100%;}
.mat-dialog-content .mat-elevation-z8 td{width:auto;}

////////* MES DEMANDES */////////
table{@extend .box-style;border-spacing:0;border-collapse: separate;padding:5px;margin:15px 0 0 0;
    .cdk-column-number{width:20%;}
    .cdk-column-type{width:20%;}
    .cdk-column-role{width:15%;}
    .cdk-column-status{width:15%;}
    .cdk-column-organisation {width:30%;}
}



////////* EVENT STORE */////////
body .event-store-table{
    th{padding:15px!important;
        &:hover{background:none;}
    }
     th{
        .mat-input-element, .mat-select{background:#efefef;@include radius(6px);padding:5px;}
        .mat-form-field-wrapper {padding-bottom:0!important;}
         .mat-form-field-infix{margin:15px 0 0 0;padding:0;}
    }
    .cdk-column-select span{display:none;}
    tr{background:#FFFFFF;border-bottom:1px solid red!important;padding:15px;
        &:hover td{background:#efefef!important;}
        td{background:#ffffff;@include transition;}
    }
    .cdk-column-select{width:5%;}
    .example-detail-row td.mat-cell{padding:0;border-bottom:none!important;
        ul{
            li{background:url('../img/list.svg')no-repeat left 7px;list-style-type:none;text-align:left;padding-left:15px;margin-bottom:20px;
                p{margin:0;}
                ul{padding:20px 0 0 0;}
            }
            
        }
    }
    .cdk-column-id, .mat-column-id{width:10%;}
    
    tr.example-expanded-row td{border:none!important;}
    td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{paddiong-left:14px;}
    .example-element-row:last-child td{border-bottom:none!important;}
    tr.example-detail-row:hover td, div{background:none!important;}
    .example-element-detail{display:block!important;
        .row:last-child{background:yellow;}
        p{word-break:break-all;padding:0;display:inline-block;}
        code{word-break:break-all;color:$text-color;display:block;width:100%;padding:20px;-webkit-box-shadow: inset 3px 3px 11px -4px rgba(179,175,179,1);
-moz-box-shadow: inset 3px 3px 11px -4px rgba(179,175,179,1);
box-shadow: inset 3px 3px 11px -4px rgba(179,175,179,1);background:#fcfcfc;}
    }
    .ng-trigger-detailExpand .row:first-child{padding:30px 0 0 0!important;}
    .ng-trigger-detailExpand .row:last-child{margin:0 15px;padding:30px 0;}
    .mat-flat-button{margin-right:15px;}
   
    
}

app-stored-event .mat-tab-body-content{font-family:$roboto;
        .form-group{padding:15px;@extend .box-style;margin:30px 0 0 0;
            p{display:inline-block;}
    }
    }