
/*
* Ressources
*/
 table#resources{
     td.cdk-column-resources{width:30%;}
     td.cdk-column-description{width:30%;}
     td.cdk-column-owner{width:25%;}
     td.cdk-column-actions{width:15%;}
}

#mat-slide-toggle-1{display:block;padding-top:10px;
    label{}
}

#mat-tab-label-0-2, #mat-tab-label-1-2, mat-tab-label-2-2{opacity:1;margin:0 0 15px 0;
    .btn{color:#ffffff;text-transform: none;letter-spacing: normal;font-weight:bold;
        .mat-button-wrapper .mat-icon{float:none;}
    }
}

.update-organisation-table .warn{
    background-color: rgba(232,65,51,0.3);color:$red;
    .mat-icon{color:$red;}
}

/*
* Organisation
*/

.cdk-overlay-pane{text-align:center;
    .mat-dialog-actions{@include justify-content(center);margin:30px 0 0 0;border:none!important;}
}