<div class="footer interior">

    <ul>
        <li *ngIf="this.translate.currentLang === 'en'">
            <a href="http://be.brussels/brussels?set_language=en" title="Brussels Capital Region">
                <img class="img-fluid" alt="Brussels" src='/assets/img/RBC-BHG.png'>
            </a>
        </li>
        <li *ngIf="this.translate.currentLang === 'fr'">
            <a href="http://be.brussels/bruxelles?set_language=fr" title="Region Bruxelles Capital">
                <img class="img-fluid" alt="Bruxelles" src='/assets/img/RBC.png'>
            </a>
        </li>
        <li *ngIf="this.translate.currentLang === 'nl'">
            <a href="http://be.brussels/brussel?set_language=nl" title="Brussels Hoofdstedelijk Gewest">
                <img class="img-fluid" alt="Brussel" src='/assets/img/BHG.png'>
            </a>
        </li>

        <li *ngIf="this.translate.currentLang === 'en'">
            <a href="http://bric.brussels" title="BRIC">
                <img class="img-fluid" alt="BRIC" src='/assets/img/logo-cirb-cibg.png'>
            </a>
        </li>
        <li *ngIf="this.translate.currentLang === 'fr'">
            <a href="http://cirb.brussels" title="CIRB">
                <img class="img-fluid" alt="CIRB" src='/assets/img/logo-cirb-cibg.png'>
            </a>
        </li>
        <li *ngIf="this.translate.currentLang === 'nl'">
            <a href="http://cibg.brussels" title="CIBG">
                <img class="img-fluid" alt="CIBG" src='/assets/img/logo-cirb-cibg.png'>
            </a>
        </li>
    </ul>
    <p>{{'footer.bric' | translate}} - {{'footer.address' | translate}} - <a href="tel: +32-2-801-00-00"
                                                                             ><i
            class="fas fa-phone"></i> Tel. +32 2 801 00 00</a> - <a href="mailto:{{'footer.email' | translate}}"
                                                                    target="_blank"><i
            class="fas fa-envelope"></i> {{'footer.contact' | translate}}</a><br/>
        {{'footer.rights' | translate}} <i class="far fa-copyright"></i> - <a routerLink="/terms-conditions" title="{{'footer.policy' | translate}}">{{'footer.policy' | translate}}</a>
    </p>

</div>
