body{
    
    ////DASHBOARD////
    .myApplications{font-family:$roboto;@extend .box-style;padding-bottom:30px;@include font(16px);
        //tableaux
        .ui-dataview,.ui-dataview-grid,.ui-dataview-header,.ui-widget-header,.ui-corner-top,.ui-dataview-content{border:none!important;background:#ffffff!important;}
        .ui-panel .ui-panel-content{background:none!important;border:none!important;}
        .ui-dataview{@include radius(6px);@extend .box-style;}
        .ui-widget-content{
            img{max-width:auto;height:70px;}
            .ui-panel-titlebar{display:none;}
        }

        .ui-g .ng-star-inserted{margin-bottom:15px;padding:10px!important;
            img, i{max-height:70px;min-height:70px;}
            hr{display:none;}
            .ui-panel .ui-panel-content{padding:0;height:125px;
                div{border-top:1px solid $border;@include font(14px);padding-top:15px; text-align:right;}
            }
        }
        .ui-g .ng-star-inserted:nth-child(even){background-color:#efefef!important;}
        

        //pager
        .ui-paginator{padding: 20px 0 0px 0;} 
        .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{background:none;color:$active!important;text-decoration:underline;}
        .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover{background:$active;@include radius(4px);color:#ffffff!important;}
        .ui-paginator .ui-paginator-pages .ui-paginator-page{color:#0488ba!important;font-weight:bold;}
        .ng-star-inserted:nth-child(2n){background:none;}
        .ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last{color:#ffffff!important;background:$active;@include radius(4px);margin:0 2px;opacity:1;}
        .ui-paginator-element:hover{background:#ffffff;border:1px solid $active;
            span{color:$active;}
            }
        .ui-paginator-next:hover{background:#ffffff!important;
            span{color:$active;}
        }
        .ui-paginator-last:hover{background:#ffffff!important;
            span{color:$active;}
        }
        // form search
        
        .ui-dataview-header, .ui-dataview-content{padding:0;}
            .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{background-color:$active;}
            .mat-input-element{caret-color:$active;padding:5px;color:$text-color;border-bottom:1px solid rgba(0,0,0,.54);}
            .mat-form-field{font-style:italic;display:block;width:80%;float:left;
                @media (max-width: $xs) {
                    width:75%;
                }
        }
            .mat-form-field-infix{width:auto;}
            .btn{margin-left:15px!important;background:$active;
                @media (max-width: $sm) {
                    margin-left:0;
                }
        }
        
        
    }
     // file upload
        .ui-fileupload .ui-fileupload-buttonbar{background:#ffffff;border:none;padding:0;}
        .ui-fileupload .ui-fileupload-content{background:#ffffff;border:none;padding:0;}
        .ui-fileupload .ui-fileupload-buttonbar{margin:15px 0;}
        .ui-fileupload .ui-fileupload-buttonbar .ui-button{@include radius(6px);font-weight:600;border:none;background:$active;@include font(14px);font-family:$roboto;}
}
 
