/*
* Extends
*/

.box-style{
    @include shadow(1px, 2px, 6px, rgba(0, 0, 0, 1/10));
    background:#ffffff;
    padding:30px;
    @include radius(6px);
    @media (max-width: $xs) {
        padding:15px;
    }
}

.table-style{
    padding: 30px;
    @extend .box-style;
        th, td{font-family:$roboto;@include font(16px);padding:15px 30px;vertical-align: top;
            @media (max-width: $xs){padding:15px;@include font(14px);@include line(16px);}
        p{font-family:$roboto;@include font(16px);
            @media (max-width: $xs){@include font(14px);@include line(16px);}
            }
        th{color:$green;font-weight:400;padding:15px 30px;}
        tr{width:100%;}        
    }
    @media (max-width: $xs) {
        padding: 15px;
                tr.mat-row{height:auto;}
                td.mat-cell:last-of-type{padding-right:0;}
            } 
}
//links
.link-style{
    color:$active;
    font-weight:700;
    cursor:pointer;
    text-decoration:underline;
    @include transition;
    &:hover{
        font-weight:bold;
    }
    i{padding-right:5px;}

}

.btn-square{
    width:30px;
    height:30px;
    line-height:25px;
    background:$active;
    color:#ffffff;
    @include radius(6px);
    text-align:center;
}
/*.main-btn{
    background-color:$active;
    @include radius(5px);
    color:#ffffff;
    font-family:$roboto;
    font-weight:600;
    text-align:center;
    @include font(18px);
    border:none;
    text-transform:none;
    min-width:250px;
    padding:10px;
    max-height:45px;
    @include line(25px);
    &:hover{
        background-color:lighten($active, 10%);
        color:#ffffff;
        .fas{
            color:#FFFFFF;
        }
    }
    .fas{
        display:inline-block;
        color:#ffffff;
        @include line(25px);
         float:right;
    }
    @media (max-width: $xs){min-width:230px;}
}

/*.delete-btn{
     background-color:#E84133;
    @include radius(5px);
    color:#ffffff;
    font-family:$roboto;
    font-weight:600;
    text-align:center;
    @include font(18px);
    border:none;
    text-transform:none;
    min-width:250px;
    padding:10px;
    max-height:45px;
    @include line(25px);
        &:hover{
        background-color:lighten(#E84133, 10%);
        color:#ffffff;
        text-decoration:none;
            .fas{
            color:#ffffff;}
    }
     .fas{
        display:inline-block;
        color:#ffffff;
        @include line(25px);
         float:right;
    }
     @media (max-width: $xs){min-width:230px;}
}*/

.secondary-btn{
    background:$active;
    color:#ffffff;
    @include radius(5px);
    text-align:center;
}


//titles
.h1-style {
    font-family:$roboto;
    color:$grey-middle;
    text-transform:uppercase;
    text-align:center;
    max-height:50px;
    @include font(21px);
    @include line(30px);
	margin: 0;
    font-weight:300;  
    @include flexbox;
    @include flex-grow(1);
    @include justify-content(center);
    @include before;
    @include after;
    @include align-items(center);
        &:before{
            background:url('../img/title.svg')center center;
            width:60px;
            height:1px;
            left:-30px;
            top:50%;
        }
        &:after{
            background:url('../img/title.svg')center center;
            width:60px;
            height:1px;
            right:-30px;
            top:50%;
            }
    @media (max-width: $xs){
        @include font(18px);
        @include line(20px);
    }
}

.h2-style {
    font-family:$roboto;
    color:$grey-middle;
    text-transform:uppercase;
    text-align:center;
    @include font(18px);
    @include line(27px);
    font-weight:400;  
    display:inline-block;
    letter-spacing: 5px;
    border-bottom:1px solid $border;
    @include after;
    &:after{
        background:url('../img/arrow-title.svg')center center;
        height:8px;
        width:13px;
        top:30%;
    }
        
}

.h3-style {
    font-family:$roboto;
    color:$grey-one;
     @include font(14px);
    letter-spacing: 4px;
    @include line(25px);
    font-weight:600;
    text-transform: uppercase;
    padding:5px 0;
}

//text
.text-style{
    @include font(14px);
    @include line(16px);
    color:$text-color;
    font-family:$roboto;
}